body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
main{
    width: 40%;
}
.row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}
p{
    margin: 0;
    font-size: 1.5em;
}
input{
    height: 20px;
    width: 200px;
}
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
button{
    width: 100%;
    background-color:green;
    padding: 10px 0;
    border:none;
}
p:last-child{
    text-align: center;
}